[user]
	name = Caioflp
	email = caiolinspeixoto@gmail.com
[pager]
	branch = false
[credential]
	helper = store
[push]
	autoSetupRemote = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
