! Xterm configuration

! Font and color
! xterm*faceName: FiraCode Nerd Font Mono:style=Retina,Regular:size=14
xterm*faceName: FiraCode Nerd Font Mono
xterm*faceSize: 14
xterm*background: #2B1520
xterm*foreground: #FFFFFF
! Term name
xterm.termName: xterm-256color
! Force utf-8
xterm*locale: false
xterm*utf8: true
! Fix backspace
xterm*backarrowKey: false
xterm.ttyModes: erase ^?
! Key bindings
xterm*VT100.Translations: #override \
	Ctrl Shift <Key> C: copy-selection(CLIPBOARD) \n\
	Ctrl Shift <Key> V: insert-selection(CLIPBOARD) \n\
    Ctrl <Key> -: smaller-vt-font() \n\
    Ctrl <Key> +: larger-vt-font() \n\

